<div class="footer">
    <div class="container">
        <div class="row">
            <p>Questions? Call 000-800-040-1843</p>
        </div>
        <div class="row">
            <div class="col-md-3 footnav1">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Speed Test</a></li>
                </ul>
            </div>
            <div class="col-md-3 footnav2">
                <ul>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Cookie Preferences</a></li>
                    <li><a href="#">Legal Notices</a></li>
                </ul>
            </div>
            <div class="col-md-3 footnav3">
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Ways to Watch</a></li>
                    <li><a href="#">Corporate Information</a></li>
                    <li><a href="#">Corporate Information</a></li>
                </ul>
            </div>
            <div class="col-md-3 footnav4">
                <ul>
                    <li><a href="#">Media Centre</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i style='font-size:24px' class='fas'>&#xf0ac;</i>English
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">English</a>
                  <a class="dropdown-item" href="#">Hindi</a>
                </div>
              </div>
        </div><br>
        <p>Netflix India</p>
    </div>
</div>