<div class="content">
    <div class="text">
        <h2>Unlimited movies, TV shows and more.</h2>
        <h6>Watch anywhere. Cancel anytime.</h6><br>
        <p>Ready to watch? Enter your email to create or restart your membership.</p>
    </div>
    <div class="container" style="width: 70%; text-align:center;">
        <div class="row">
            <div class="col-md-8" style="text-align:right;">
                <input title="email" class="form-control" placeholder="Enter Email"
                    style="border-radius: 0px 0px 0px 0px;">
            </div>
            <div class="col-md-4" style="text-align: left;">
                <button class="btn" type="submit" style="border-radius: 0px 0px 0px 0px; color: white;
                border: 1px solid red;
                background-color: red;">Get Started ></button>
            </div>
        </div>
    </div>
</div>